@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
  font-size: 12px;
}

li {
  list-style: none;
}

.fade-in {
  opacity: 1;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(0.5rem) scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}


@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }
}