---
import "@/styles/globals.css"
import { Home } from "@/components/Home.tsx"
import CardsSection from "@/components/CardsSection.astro"
import ContactForm from "@/components/ContactForm.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="max-w-[1200px] mx-auto p-4 bg-black">
    <Home client:visible />

    <CardsSection />

    <ContactForm />

    <footer class="text-white text-center text-sm mt-8 py-12 px-4">
      <p>
        Built with{" "}
        <a href="https://astro.build" target="_blank" rel="noopener noreferrer">
          Astro
        </a>

         by <a href="https://gena.dev" target="_blank" rel="noopener noreferrer"
          >Genaro Bonavita</a
        >
      </p>
    </footer>
  </body>
</html>
