---
import "@/styles/globals.css"
import { Home } from "@/components/Home.tsx"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="max-w-[1400px] mx-auto p-4 bg-black">
    <Home client:visible />
  </body>
</html>
