<section class="p-4 rounded-xl flex flex-col gap-8">
  <div>
    <slot name="box-1" />
  </div>

  <div class="grid grid-cols-3 gap-8">
    <slot name="box-5" />
    <slot name="box-4" />
    <slot name="box-6" />
  </div>

  <div class="grid grid-cols-2 gap-8">
    <slot name="box-2" />
    <slot name="box-3" />
  </div>
</section>
