---
import AnimatedText from "@/components/AnimatedText.astro"
import { Card } from "@/components/Card"
---

<section class="mt-32">
  <Card
    client:visible
    className="px-4 md:px-8 py-6 md:py-12 bg-stone-950 w-full"
  >
    <AnimatedText
      text="Lorem ipsum dolor sit"
      delay={0}
      animationDelay={50}
      class="text-3xl font-bold text-gray-200 md:text-4xl lg:text-5xl mt-4 mb-10"
    />

    <AnimatedText
      text="Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      delay={1000}
      animationDelay={30}
      class="text-xl font-bold text-gray-400 md:text-2xl lg:text-3xl mt-4 mb-10"
    />
  </Card>
</section>
