---
import { Card } from "@/components/Card"
---

<Card client:visible className="max-w-xl bg-slate-950 mx-auto">
  <img
    src="https://picsum.photos/300/200"
    alt=""
    width="300"
    height="200"
    class="w-full rounded-md mb-4 brightness-50"
  />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste amet debitis
    dolores. Est deserunt perspiciatis harum? Harum omnis aliquid nam aspernatur
    amet ullam nihil esse similique, laboriosam ab distinctio ducimus.
  </p>
</Card>
